<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="modbus_simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <modbus_simulator.Properties.Settings>
            <setting name="x_veSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="y_veSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="z_veSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="x_rmsSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="y_rmsSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="z_rmsSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="totalveSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intervalXYZ" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intervalXRYRZR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intervalTotal" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="delaySetting" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ipSetting" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="portSetting" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="COMSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="modeSetting" serializeAs="String">
                <value>TCP</value>
            </setting>
            <setting name="x_p2pSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="y_p2pSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="z_p2pSetting" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intervalP2P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p1setting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="p2setting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="p4setting" serializeAs="String">
                <value>2G</value>
            </setting>
            <setting name="p5setting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="p6setting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="p7setting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="p8setting" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BRSetting" serializeAs="String">
                <value>9600</value>
            </setting>
        </modbus_simulator.Properties.Settings>
    </userSettings>
</configuration>
